.searchBarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    }
    
    .searchInput{
        height: 25px;
        width: 15rem;
        margin-left: 4.7rem;
    }
    .dropDown{
        margin-right: 5rem;
        height: 40px;
        width: 160px;
        font-weight: 600;
        text-align: center;
        border-radius: 5px;
        background-color: white;
        box-shadow: 2px 1px #ccc;
    }

    .contentPage{
        display: flex;
        flex-wrap: wrap;
        background-color:  hsl(0, 0%, 98%);
        margin: 0 2.7rem;
    }
    .eachCountryData{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 2rem;
        border: 0.1px solid  hsl(0, 0%, 60%);
        border-radius: 5px;
    }
    ul{
        list-style-type: none;
        margin-block-end: 0;
        padding-inline-start: 0;
        margin: 1rem 0 2rem 0;
    }
    li{
        margin: 0.5rem 0;
        font-weight: 300;
    }
    .countryName{
        font-size: 20px;
        font-weight: 500;
    }
    
    .countryPhoto{
        height: 100px;
        width: 230px;
    }

    