.eachCountryContainer{
    display: flex;
    width: 100%;
}
.eachCountryDataContainer{
    display: flex;
    margin: 0 2rem;
    justify-content: space-around;
}
.imgContainer{
    margin: 0 0 0 4.7rem;
}
.countryDataWithBorderContainer{
   margin: 0 0 0 2rem;
}

.borderContainer{
    margin: 0 8rem;
    width: 100%;
}

.countryName{
    font-size: 40px;
    font-weight: 500;
}
.dummyClass{
    margin-top: 55px;
}

.borderCountry{
    font-size: 10px;
    font-weight: 400;
    width: 80px;
    height: 25px;
    margin: 0.5rem 0.5rem;
}
.backButton{
    width: 80px;
    height: 25px;
    margin: 2rem 4.7rem;
}

.listedCountryData{
    margin: 0 2rem;
}