.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-bottom: 2px solid;
    border-color: black;
 }
 .navLink{
     margin-left: 4.7rem;
     font-weight: 600;
 }
 .darkButton{
     margin-right: 5rem;   
 }